<div style="background: #f4f4f4" xmlns:float="http://www.w3.org/1999/xhtml">
  <table bgcolor="#98edb4" border="0" width="100%" cellpadding="10">
    <tr>
      <td>
        <h1 align="center">Poker Tournament Worksheet</h1>
        <h4>
          <table border="0" width="100%" cellpadding="10">
            <tr>
              <td width="15%">
                <button (click)="getPokerAbout()">User Guide</button>
              </td>
              <td width="55%">Email errors, comments or suggestions to
                <a href="mailto:keelerpl@gmail.com">keelerpl@gmail.com</a>.
              </td>
              <td width="30%"></td>
            </tr>
          </table>
        </h4>
      </td>
    </tr>
  </table>
<!--  <br/>-->
  <div>
    <div class="f-17" align="left" width="50%">
      <div class="player-tip">
        <p>Option 1:<br>
           Enter first player name, set amounts for game, and click 'Save Player'.<br>
          &nbsp; &nbsp; After first player:<br>
           Enter next player name,<br>
          &nbsp; &nbsp; if amounts are the same, hit "Enter",<br>
          &nbsp; &nbsp; if not the same, enter changes and click 'Save Player'.<br>
           Repeat for each additional player."</p>
        <p>Option 2:<br>
           If you can't enter each player before the tournament...<br>
          &nbsp; &nbsp; After the total amounts are known, add them as one Player entry.<br>
              This action will populate the Running Totals and make the<br>
          &nbsp; &nbsp; Chops, Last Man and Winners functions available.<br>
              Example:<br>
          Totals 1500 0 0 300 600 &nbsp; -> 'Save Player'
        </p>
      </div>
    </div>
    <br>
    <table class="full-width-table">
      <thead>
      <th align="left">Player Name</th>
      <th align="left">BuyIn</th>
      <th align="left">Fee</th>
      <th align="left">Last Man</th>
      <th align="left">Last Woman</th>
      <th align="left">AddOn</th>
      </thead>
      <tbody>
      <tr>
        <td><input #playerTextEl size="10" width="10" [(ngModel)]='playerName' (keyup.enter)="savePlayer()"/></td>
        <td><input size="4" [(ngModel)]='buyInAmount'/></td>
        <td><input size="4" [(ngModel)]='feeAmount'/></td>
        <td><input size="4" [(ngModel)]='lastManAmount'/></td>
        <td><input size="4" [(ngModel)]='lastWomanAmount'/></td>
        <td><input size="4" [(ngModel)]='addOnAmount'/></td>
      </tr>
      </tbody>
    </table>
    <button (click)="savePlayer()" class="ml-3">Save Player</button>
    <br>
    <br>
    <div [hidden]="playersHide">
      <table mat-table matSort [dataSource]="dataSource" border="0" class="table-width-80 mt-10">
        <ng-container matColumnDef="select">
          <th class="w-80 f-15" mat-header-cell *matHeaderCellDef> Select</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(element) : null"
                          [checked]="selection.isSelected(element)"
                          [aria-label]="checkboxLabel(element)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th class="w-80 f-15" mat-header-cell *matHeaderCellDef mat-sort-header> Player Name</th>
          <td mat-cell class="f-15" *matCellDef="let element; let i = index"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="buyIn">
          <th class="w-80 f-15" mat-header-cell *matHeaderCellDef mat-sort-header> Buy In</th>
          <td mat-cell *matCellDef="let element; let i = index"> {{element.buyIn | number:'1.2-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="fee">
          <th class="w-80 f-15" mat-header-cell *matHeaderCellDef mat-sort-header> Fee</th>
          <td mat-cell *matCellDef="let element; let i = index"> {{element.fee | number:'1.2-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="lastMan">
          <th class="w-80 f-15" mat-header-cell *matHeaderCellDef mat-sort-header> Last Man</th>
          <td mat-cell *matCellDef="let element; let i = index"> {{element.lastMan | number:'1.2-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="lastWoman">
          <th class="w-80 f-15" mat-header-cell *matHeaderCellDef mat-sort-header> Last Woman</th>
          <td mat-cell *matCellDef="let element; let i = index"> {{element.lastWoman | number:'1.2-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="addOn">
          <th class="w-80 f-15" mat-header-cell *matHeaderCellDef mat-sort-header> Add On</th>
          <td mat-cell *matCellDef="let element; let i = index"> {{element.addOn | number:'1.2-2'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"
            style="background-color:lightgray;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
      </table>
      <br>
      These buttons are all about the checkboxes.
      <div class="row push-right">
        <input type="button" class="btn btn-danger" (click)="selectAll()" value="Select All">
        <input type="button" class="btn btn-danger ml-5" (click)="unSelectAll()" value="Unselect All">
        <input type="button" class="btn btn-danger ml-15" (click)="addRebuy()" value="+ Rebuy">
        <input type="button" class="btn btn-danger ml-5" (click)="addAddOn()" value="+ AddOn">
        <br>
        <span class="mt-5 ml-10">Mistakes:</span>
        <input type="button" class="btn btn-danger ml-5 mt-5" (click)="deletePlayer()" value="Delete Player">
        <input type="button" class="btn btn-danger ml-5 mt-5" (click)="minusRebuy()" value="- Rebuy">
        <input type="button" class="btn btn-danger ml-8 mt-10" (click)="minusAddOn()" value="- AddOn">
        <br>
      </div>
    </div>
    <br/>
    <br/>
    <div class="f-15" align="left">
      <h2>Running Totals:</h2>
    </div>
    <table class="full-width-table">
      <tr>
        <th align="left">Players</th>
        <th align="left">BuyIn</th>
        <th align="left">Fee</th>
        <th align="left">Last Man</th>
        <th align="left">Last Woman</th>
        <th align="left">AddOn</th>
      </tr>
      <tr>
        <td><input size="5" maxwidth="5" type="text" [(ngModel)]="totalPlayers"></td>
        <td><input size="5" maxwidth="5" type="text" [(ngModel)]="buyInTotal"></td>
        <td><input size="5" maxwidth="5" type="text" [(ngModel)]="feeTotal"></td>
        <td><input size="5" maxwidth="5" type="text" [(ngModel)]="lastManTotal"></td>
        <td><input size="5" maxwidth="5" type="text" [(ngModel)]="lastWomanTotal"></td>
        <td><input size="5" maxwidth="5" type="text" [(ngModel)]="addOnTotal"></td>
      </tr>
    </table>
    <br/>
    <br/>
<!--    <div align="left" width="50%">-->
<!--      <h1>Chops:</h1>-->
<!--    </div>-->
    <table border="0" width="100%" cellpadding="5">
      <tr>
        <th align="left" width="49%"><h1>Chops</h1></th>
        <th align="left" width="51%"><h1>Last Person</h1></th>
      </tr>
    </table>
      <table border="0" width="100%" cellpadding="5">
      <tr>
        <th align="left" width="15%">Count</th>
        <th align="left" width="33%">Amount</th>
        <th align="left" width="15%">Count</th>
        <th align="left" width="35%">Amount</th>
      </tr>
      <tr>
        <td><input size="7" maxwidth="10" [(ngModel)]="chopPlayers"></td>
        <td><input size="7" maxwidth="10" [(ngModel)]="chopAmount"></td>
        <td><input size="7" maxwidth="10" [(ngModel)]="lastPersonPlayers"></td>
        <td><input size="7" maxwidth="10" [(ngModel)]="lastPersonChopAmount"></td>
      </tr>
    </table>
    <table border="0" width="100%" cellpadding="5">
      <tr>
        <th align="left" width="14%"></th>
        <th align="left" width="35%"></th>
        <th align="left" width="10%"></th>
        <th align="left" width="39%"></th>
      </tr>
      <tr>
        <td><button (click)="chopBtn()">BuyIn & AddOn</button></td>
        <td><button (click)="chopAllBtn()">+ Last Man</button></td>
        <td><button (click)="chopLastManBtn()">Last Man</button></td>
        <td><button (click)="chopLastWomanBtn()">Last Woman</button></td>
        <td></td>
      </tr>
    </table>
    <br/>
    <br/>
    <div float:left width="50%">
      <h1>Winners:</h1>
    </div>
    <div align-left>
      <th>Enter each winner percentage separated by spaces.</th>
    </div>
    <br/>
    <div float:left>
      <input #winnerTextEl type="text" size="35" [(ngModel)]="percentages">
    </div>
    <br/>
    <div class="f-17 align-left">
      <div class="percentage-tip">
        <p>You can auto fill suggested percentages by selecting the number of winners below.<br>
          &nbsp; &nbsp; Or, you can manually change or enter the percentages to get desired results.<br>
          <button class="button button2" (click)="setPercents(this.winners2)">2</button>
          <button class="button button3" (click)="setPercents(this.winners3)">3</button>
          <button class="button button4" (click)="setPercents(this.winners4)">4</button>
          <button class="button button5" (click)="setPercents(this.winners5)">5</button>
          <button class="button button6" (click)="setPercents(this.winners6)">6</button>
          <button class="button button7" (click)="setPercents(this.winners7)">7</button>
          <button class="button button8" (click)="setPercents(this.winners8)">8</button>
          <button class="button button9" (click)="setPercents(this.winners9)">9</button>
          <button class="button button10" (click)="setPercents(this.winners10)">10</button>
        </p>
      </div>
    </div>
    <br/>
    <table border="0" width="100%" cellpadding="10">
      <tr>
        <td width="15%" align="left">
          Payout Options:
        </td>
<!--      </tr>-->
<!--      <tr>-->
        <td width="15%" align="left">
          <input type="radio" name="payoutRadio" checked
                 (change)="payoutRadioHandler($event)"
                 value="positionPayout">Percentages
        </td>
        <td width="70%" align="left">
          <input type="radio" name="payoutRadio"
                 (change)="payoutRadioHandler($event)"
                 value="icmPayout">ICM Chop
        </td>
      </tr>
    </table>
    <br/>
    <div [hidden]="icmHide">
      <div  class="float-left-child">
        <th>Enter each players chip count, in any order, seperated by spaces.</th>
      </div>
      <br/>
      <br/>
      <div align="left">
        <input #icmTextEl type="text" size="35" [(ngModel)]="chipCounts">
      </div>
      <br/>
    </div>
    Payout:
    <button type="button" class="ml-3" (click)="computeWinnerBtn()">BuyIn & AddOn</button>
    <button type="button" class="ml-3" (click)="computeWinnerLastManBtn()">+ Last Man</button>
    <br/>
    <br/>
  </div>
  <br>
  <div [hidden]="winnersHide">
    <table mat-table matSort [dataSource]="winnerData" border="0" class="table-width-93 mt-10">

      <ng-container matColumnDef="position">
        <th class="w-80 f-15" mat-header-cell *matHeaderCellDef mat-sort-header> Winner Positions</th>
        <td mat-cell class="f-15" *matCellDef="let element; let i = index"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th class="w-80 f-15" mat-header-cell *matHeaderCellDef mat-sort-header> Winner Payouts</th>
        <td mat-cell *matCellDef="let element; let i = index"> {{element.amount | number:'1.2-2'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="winnerColumns"
          style="background-color:lightgray;"></tr>
      <tr mat-row *matRowDef="let row; columns: winnerColumns;"></tr>
    </table>
    <br>
  </div>

  <div [hidden]="icmHide">
    <table mat-table matSort [dataSource]="icmData" border="0" class="table-width-93 mt-10">

      <ng-container matColumnDef="icmPosition">
        <th class="w-80 f-15" mat-header-cell *matHeaderCellDef mat-sort-header> ICM Positions</th>
        <td mat-cell class="f-15" *matCellDef="let element; let i = index"> {{element.icmPosition}} </td>
      </ng-container>

      <ng-container matColumnDef="icmChips">
        <th class="w-80 f-15" mat-header-cell *matHeaderCellDef mat-sort-header> Chip Counts</th>
        <td mat-cell *matCellDef="let element; let i = index"> {{element.icmChips}} </td>
      </ng-container>

      <ng-container matColumnDef="icmPayout">
        <th class="w-80 f-15" mat-header-cell *matHeaderCellDef mat-sort-header> ICM Payouts</th>
        <td mat-cell *matCellDef="let element; let i = index"> {{element.icmPayout | number:'1.2-2'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="icmColumns"
          style="background-color:lightgray;"></tr>
      <tr mat-row *matRowDef="let row; columns: icmColumns;"></tr>
    </table>
    <br>
  </div>
</div>
