
.container {
  width: 98%;
  margin: auto;
  padding: 10px;
}

td.mat-cell{
  border-bottom-style: none;
}

th.mat-header-cell{
  border-bottom-style: none;
}

.al {
  text-align-last: auto;
}

.ml-3 {
  margin-left: 3px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-15 {
  margin-left: 15px;
}

.mt-3 {
  margin-top: 3px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.w-80 {
  width: 80px;
}

.w-100 {
  width: 100px;
}

.w-150 {
  width: 150px;
}

.f-10 {
  font-size: 10px;
}

.f-15 {
  font-size: 15px;
}

.f-17 {
  font-size: 17px;
}

.float-left-child {
  float: left;
}

.table-width-80 {
  width: 93%;
}
.full-width-table {
  width: 98%;
}

.yellow {
  background-color: yellow;
}

.player-tip {
  position: relative;
  top: 18px;
  right: 0px;
  text-align: center;
  background-color: #BCDBEA;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 26px;
  cursor: default;
}

.player-tip:before {
  content:'?';
  font-weight: bold;
  color:#fff;
}

.player-tip:hover p {
  display:block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;

}

.player-tip p {    /* The tooltip */
  display: none;
  text-align: left;
  background-color: #5aa364;
  padding: 20px;
  width: 400px;
  position: static;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -4px;
  color: #FFF;
  font-size: 13px;
  line-height: 1.4;
}

.percentage-tip {
  position: relative;
  top: 0px;
  right: 0px;
  text-align: center;
  background-color: #BCDBEA;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 26px;
  cursor: default;
}

.percentage-tip:before {
  content:'?';
  font-weight: bold;
  color:#fff;
}

.percentage-tip:hover p {
  display:block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;

}

.percentage-tip p {    /* The tooltip */
  display: none;
  text-align: left;
  background-color: #5aa364;
  padding: 20px;
  width: 400px;
  position: static;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -4px;
  color: #FFF;
  font-size: 13px;
  line-height: 1.4;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
}
.button3 {border-radius: 50%;}
.button4 {border-radius: 50%;}
.button5 {border-radius: 50%;}
.button6 {border-radius: 50%;}
.button7 {border-radius: 50%;}
.button8 {border-radius: 50%;}
.button9 {border-radius: 50%;}
.button10 {border-radius: 50%;}
