<header>
  <div class="container">
    <a href="a" class="logo"><span style="font-size: 16px">Pat's Frontend Apps</span></a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Math Tutor</a></li>
        <li><a href="#" routerLink="/passwords">Password Generator</a></li>
        <li><a href="#" routerLink="/poker">Poker Worksheet</a></li>
      </ul>
    </nav>
  </div>
  <br>
  <div class="container">
    <a href="a" class="logo"><span style="font-size: 16px">Pat's Full Stack Apps</span></a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/sql">SQL Formatter</a></li>
        <li><a href="#" routerLink="/xml">XML Formatter</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
