body {font-size: 80%;}

.white  { background-color: white }
.green  { background-color: #98edb4 }
.yellow { background-color: yellow }
.orange { background-color: orange }
.purple { background-color: mediumpurple}
.red    { background-color: red }

ul
{
  list-style-type: none;
  padding:0; margin:0;
}
