<div style="background: #f4f4f4">
  <table bgcolor="#98edb4" border="0" width="100%" cellpadding="10">
    <tr>
      <td>
        <h1 align="center">Random Password Generator</h1>
        <h4>
          <table border="0" width="100%" cellpadding="10">
            <tr>
              <td width="15%">
                <button (click)="getPasswordAbout()">User Guide</button>
              </td>
              <td width="55%">Email errors, comments or suggestions to
                <a href="mailto:keelerpl@gmail.com">keelerpl@gmail.com</a>.
              </td>
              <td width="30%"></td>
            </tr>
          </table>
        </h4>
      </td>
    </tr>
  </table>
  <br/>
  <table border="0" width="100%">
    <tr>
      <td>
        <fieldset>
          <legend> Password Managers:</legend>
          <table border="0" width="100%" cellpadding="10">
            <tr>
              <td width="25%">
                <label> I use a password manager to store my passwords so I only need to remember one strong password to access all my saved usernames, passwords and site info.</label>
              </td>
            </tr>
            <tr>
              <td width="25%">
                <label> Do a web search for &quot;free password managers&quot; to see a list.</label>
              </td>
            </tr>
          </table>
        </fieldset>
      </td>
    </tr>
  </table>
  <br/>
  <table border="0" width="100%">
    <tr>
      <td>
        <fieldset>
          <legend> Password Length:</legend>
          <table border="0" width="100%" cellpadding="10">
            <tr>
              <td width="25%">
                <label> Enter desired password length:</label>
              </td>
              <td width="25%">
                <input type="text" [(ngModel)]="pwdLength" maxlength="2" size="2"
                       (keypress)="numericOnly($event)"/>
              </td>
            </tr>
          </table>
        </fieldset>
      </td>
    </tr>
  </table>
  <table border="0" width="100%">
    <tr>
      <td>
        <fieldset>
          <legend> Special Characters:</legend>
          <table border="0" width="100%" cellpadding="10">
            <tr>
              <td width="25%">
                <label> These 12 special characters are used:</label>
              </td>
              <td width="25%">! @ # $ % ^ * ( ) _ + =</td>
            </tr>
            <tr>
              <td width="25%">
                <label> You can enter characters to EXCLUDE:</label>
              </td>
              <td width="25%">
                <input type="text" [(ngModel)]="excludeChars" maxlength="12" size="12" value=""/>
              </td>
            </tr>
          </table>
        </fieldset>
      </td>
    </tr>
  </table>
  <table border="0" width="100%" cellpadding="10">
    <tr>
      <td width="25%"></td>
      <td width="75%">
        <button (click)="getPasswords()">Generate Passwords</button>
      </td>
    </tr>
  </table>
  <table border="0" width="100%">
    <tr>
      <td>
        <fieldset>
          <legend> Select password with desired strength:</legend>
          <table border="0" width="100%" cellpadding="10">
            <tr>
              <td width="25%">
                <label>All numbers and upper A-F (Hex):</label>
              </td>
              <td width="25%">
                <input type="text" [ngModel]="hexOnly" size="45"/>
              </td>
            </tr>
            <tr>
              <td width="25%">
                <label>All numbers with upper and lower A-Z:</label>
              </td>
              <td width="25%">
                <input type="text" [ngModel]="hexUpperLower" size="45"/>
              </td>
            </tr>
            <tr>
              <td width="25%">
                <label>All numbers, letters and special characters:</label>
              </td>
              <td width="25%">
                <input type="text" [ngModel]="hexAllSpecial" size="45"/>
              </td>
            </tr>
          </table>
        </fieldset>
      </td>
    </tr>
  </table>
</div> 
