<div style="background: #f4f4f4">
  <table bgcolor="#98edb4" border="0" width="100%" cellpadding="10">
    <tr>
      <td>
        <h1 align="center">XML Formatter</h1>
        <h4>
          <table border="0" width="100%" cellpadding="10">
            <tr>
              <td width="15%">
                <button (click)="getXmlAbout()">User Guide</button>
              </td>
              <td width="55%">Email errors, comments or suggestions to
                <a href="mailto:keelerpl@gmail.com">keelerpl@gmail.com</a>.
              </td>
              <td width="30%"></td>
            </tr>
          </table>
        </h4>
      </td>
    </tr>
  </table>
  <br/>
  <br />
  <fieldset>
    <legend> Paste your XML in the text box: </legend>
    <table border="0" width="100%" cellpadding="10">
      <tr>
        <td width="25%">
          <span style="color: red">**</span> Beginning prolog will be removed.
        </td>
        <td width="75%">
          <textarea [(ngModel)]="inputXml"
                    rows="7" cols="75" wrap="off"></textarea>
        </td>
      </tr>
    </table>
  </fieldset>
  <br>
  <fieldset>
    <legend> Output options.</legend>
    <table border="0" width="100%" cellpadding="10">
      <tr>
        <td width="25%" align="right">
          Indent options:
        </td>
        <td width="25%">
          <input type="checkbox"
            #xmlIndentCheckBox (change)="checkXmlIndentEnabled()"
                 checked > Indent elements.
        </td>
        <td width="50%">Indent amount:
          <input type="text" [disabled]=isXmlDisabled
            [(ngModel)]="indentXmlAmount"
                 maxlength="1"
                 size="1"/>
        </td>
      </tr>
    </table>
  </fieldset>
  <table border="0" width="100%" cellpadding="10">
    <tr>
      <td width="25%"></td>
      <td width="75%">
        <input type="button" name="Submit" value="Process" (click)="getFormattedXml()" />
      </td>
    </tr>
  </table>
  <fieldset>
    <legend> Get your formatted XML here: </legend>
    <table border="0" width="100%" cellpadding="10">
      <tr>
        <td width="25%">
          Formatted XML (SoapUI friendly):
        </td>
        <td width="75%">
          <textarea [(ngModel)]="outputXml"	rows="7" cols="75" wrap="off"></textarea>
        </td>
      </tr>
    </table>
  </fieldset>
</div>
