<div style="background: #f4f4f4">
  <table bgcolor="#98edb4" border="0" width="100%" cellpadding="10">
    <tr>
      <td>
        <h1 align="center">Elementary Math Tutor</h1>
        <h4>
          <table border="0" width="100%" cellpadding="10">
            <tr>
              <td width="15%">
                <button (click)="getMathAbout()">User Guide</button>
              </td>
              <td width="55%">Email errors, comments or suggestions to
                <a href="mailto:keelerpl@gmail.com">keelerpl@gmail.com</a>.
              </td>
              <td width="30%"></td>
            </tr>
          </table>
        </h4>
      </td>
    </tr>
  </table>
  <br/>
  <table border="0" width="100%">
    <tr>
      <td>
        <fieldset>
          <legend> Number:</legend>
          <table border="0" width="100%" cellpadding="10">
            <tr>
              <td width="40%">
                <label id="numberRadio"> Pick number to learn.</label>
              </td>
              <td width="20%">
                <input type="radio" name="numberRadio" value="1"
                       (change)="numberRadioHandler($event)">1<br>
                <input type="radio" name="numberRadio" value="2"
                       (change)="numberRadioHandler($event)">2<br>
                <input type="radio" name="numberRadio" value="3"
                       (change)="numberRadioHandler($event)">3<br>
                <input type="radio" name="numberRadio" value="4"
                       (change)="numberRadioHandler($event)">4<br>
              </td>
              <td width="20%">
                <input type="radio" name="numberRadio" value="5"
                       (change)="numberRadioHandler($event)">5<br>
                <input type="radio" name="numberRadio" value="6"
                       (change)="numberRadioHandler($event)">6<br>
                <input type="radio" name="numberRadio" value="7"
                       (change)="numberRadioHandler($event)">7<br>
                <input type="radio" name="numberRadio" value="8"
                       (change)="numberRadioHandler($event)">8<br>
              </td>
              <td width="20%">
                <input type="radio" name="numberRadio" value="9"
                       (change)="numberRadioHandler($event)">9<br>
                <input type="radio" name="numberRadio" value="10"
                       (change)="numberRadioHandler($event)">10<br>
                <input type="radio" name="numberRadio" value="11"
                       (change)="numberRadioHandler($event)">11<br>
                <input type="radio" name="numberRadio" value="12"
                       (change)="numberRadioHandler($event)">12<br>
              </td>
            </tr>
          </table>
        </fieldset>
        <fieldset>
          <legend> Math function:</legend>
          <table border="0" width="100%" cellpadding="10">
            <tr>
              <td width="40%">
                <label> Pick math function.</label>
              </td>
              <td width="60%">
                <input type="radio" name="functionRadio" value="1"
                       (change)="functionRadioHandler($event)">Add<br>
                <input type="radio" name="functionRadio" value="2"
                       (change)="functionRadioHandler($event)">Subtract<br>
                <input type="radio" name="functionRadio" value="3"
                       (change)="functionRadioHandler($event)">Multiply<br>
                <input type="radio" name="functionRadio" value="4"
                       (change)="functionRadioHandler($event)">Divide<br>
              </td>
            </tr>
          </table>
        </fieldset>
      </td>
    </tr>
  </table>
  <table border="0" width="100%" cellpadding="10">
    <tr>
      <td width="25%"></td>
      <td width="75%">
        <button (click)="startTutor()">Start Tutor</button>
      </td>
    </tr>
  </table>
  <table border="0" width="100%">
    <tr>
      <td>
        <fieldset>
          <legend> The problem:</legend>
          <table width="60%">
            <tr>
              <td width="15%">
                <input type="text" [(ngModel)]="selectedNumber" readonly="readonly"
                       style="font-size:2em; text-align:center; width:1.5em; height:1.5em;"/>
              </td>
              <td width="15%">
                <input type="text" [(ngModel)]="operator" readonly="readonly"
                       style="font-size:2em; text-align:center; width:1.5em; height:1.5em;"/>
              </td>
              <td width="15%">
                <input type="text" [(ngModel)]="randomNumber" id="randomNumber" readonly="readonly"
                       style="font-size:2em; text-align:center; width:1.5em; height:1.5em;"/>
              </td>
              <td width="15%" readonly="readonly" style="font-size:3em; text-align:center;
												width:1.5em; height:1.5em;">=
              </td>
              <td width="15%">
                <div [hidden]="otherHide" id=otherDiv>
                  <table>
                    <tr>
                      <td>
                        <ul>
                          <li style="font-size:1em;">Answer</li>
                          <li>
                            <input #answerInput [(ngModel)]="otherAnswer" (keyup.enter)="checkAnswer()"
                                   style="font-size:2em; text-align:center;; width:3.5em; height:1.5em;"/>
                          </li>
                        </ul>
                      </td>
                    </tr>
                  </table>
                </div>
                <div [hidden]="divideHide" id=divideDiv>
                  <table>
                    <tr>
                      <td>
                        <ul>
                          <li style="font-size:1em;">Answer</li>
                          <li>
                            <input #divideInput [(ngModel)]="divideAnswer" (keyup.enter)="checkAnswer()"
                                   style="font-size:2em; text-align:center;; width:2.5em; height:1.5em;"/>
                          </li>
                        </ul>
                      </td>
                      <td>
                        <ul>
                          <li style="font-size:1em;">Remainder</li>
                          <li>
                            <input type="text" [(ngModel)]="remainder" (keyup.enter)="checkAnswer()"
                                   style="font-size:2em; text-align:center;; width:2em; height:1.5em;"/>
                          </li>
                        </ul>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
              <td width="25%">
                <table>
                  <tr>
                    <td width="50%">
                      <input [ngClass]="setResponseBackground()" [(ngModel)]="responseText" readonly="readonly"
                             style="font-size:1em; text-align:center; vertical-align:9px; width:4.4em; height:1em;"/>
                    </td>
                  </tr>
                  <tr>
                    <td width="50%">
                      <button (click)="checkAnswer()">Check Answer</button>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!--        <div *ngIf="hintHide" id="hintDiv">-->
          <div [hidden]="hintHide" id="hintDiv">
            <table border="0" width="100%" cellpadding="10">
              <tr>
                <td width="25%"></td>
                <td width="75%">
                  <button class="yellow" (click)="getHint()">Hint</button>
                </td>
              </tr>
            </table>
          </div>
        </fieldset>
      </td>
    </tr>
  </table>
  <table border="0" width="100%">
    <tr>
      <td>
        <fieldset>
          <legend> Score:</legend>
          <table width="75%">
            <tr>
              <td>
                <ul>
                  <li style="font-size:1em;">Wrong:</li>
                  <li>
                    <input type="text" [(ngModel)]="numberWrong"
                           style="font-size:2em; text-align:center;; width:1.5em; height:1.5em;"/>
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li style="font-size:1em;">Right:</li>
                  <li>
                    <input type="text" [(ngModel)]="numberRight"
                           style="font-size:2em; text-align:center;; width:1.5em; height:1.5em;"/>
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li style="font-size:1em;"><b>Percent:</b></li>
                  <li>
                    <input [ngClass]="setPercentBackground()" [(ngModel)]="percentage"
                           style="font-size:2em; text-align:center;; width:2em; height:1.5em;"/>
                  </li>
                </ul>
              </td>
              <td>
                <button (click)="resetScore()">Reset Score</button>
              </td>
            </tr>
          </table>
        </fieldset>
      </td>
    </tr>
  </table>
</div>
